<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>已绑定QQ账号</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">已绑定QQ账号</h1>
		</header>
		<div class="mui-content">
			<div id="bangdeqq">
				<!--<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						1359841023
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						2369874145
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						1369874412
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						1203698774
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						2358741123
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						1369874120
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						1987658942
					</li>
				</ul>-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../js/public.js" ></script>
	<script type="text/javascript" src="../js/app/bangding-qq1.js" ></script>
</html>
