<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
		<title>提示</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css" />
		<style type="text/css">
			body,.mui-content{background: white;}
			.bbs-pulish-img{margin-top: 30px;}
			.iconfont{font-size: 25px;margin-right: 6px;color: #2DC943;}
			.bbs-pulish-img span{font-size: 25px;}
			p{line-height: 66px;font-size: 17px;color: #000000;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">提示</h1>
		</header>
		<div class="mui-content">
			<div>
				<div class="bbs-pulish-img mui-text-center">
					<i class="mui-icon iconfont">&#xe610;</i><span><b>提现成功</b></span>
					<p>提现后24小时内到账。。。</p>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
