<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
		<title>联系我们</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<style type="text/css">
			body,.mui-content{background: white;}
			p{color: #000000;line-height: 28px;}
			img{height: 232px;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">联系我们</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<p id="diyiduan" ></p>
				<!--<p id="diyiduan" >2013年7月近百家国内外知名化妆品品牌联合中国质量万里行，及化妆品电商聚美优品等共同发起，推出防伪码体系来保障消费者权益。中国化妆品真品防伪码联盟致力于维护消费者安全，保障消费者权益，为消费者解决购买化妆品难辨真伪的问题。</p>-->
				<!--<img id="tupian" src="../public/img/4.jpg" />-->
				<img id="tupian" src="" />
				<!--<p id="dierduan" >作为业内最为权威、公正、领先的机构，中国化妆品真品防伪码联盟现已签约合作近百家化妆品品牌，其中不乏为大众所熟知的美宝莲、兰芝、高丝、薇姿等诸多国际知名品牌，而其队伍仍在不断壮大中。为此，聚美优品成立了</p>-->
			    <p id="dierduan" ></p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../js/public.js" ></script>
	<script type="text/javascript" src="../js/app/chat-us.js" ></script>
</html>
