<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">	
		<title>帮助中心</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<style type="text/css">
			.mui-media-body.big_h{font-size: 17px!important;}
			.mui-card{margin:0 6px;border:none;border-radius:0px; border-left: 1px solid #FF5252;}
			.content_matter{color: #8f8f94;font-size: 16px;}
			.mui-li-color{color: #FF5252;}
			body{font-size: 16px;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">任务管理</h1>
		</header>
		<div class="mui-content">
			<div id="helps" >
				<ul class="mui-table-view">
				 	<li class="mui-table-view-cell">做任务类问题</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-li-color">任务详细流程</li>
				</ul>
				
				<!--折叠面板1-->
		        <div class="mui-card" id="ajax-content1">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse"><a class="mui-navigate-right" href="#">1.如何找到商品</a>
							<div class="mui-collapse-content">
								<div class="content_matter">答：打开手机淘宝APP，在页面顶部搜索任务提供的关键词。</div>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/1.png"></ol>
							</div>
						</li>
					</ul>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse"><a class="mui-navigate-right" href="#">2.如何筛选</a>
							<div class="mui-collapse-content">
								<div class="content_matter">答：根据任务提示，搜索关键词后在打开的页面中点击<筛选>，在下拉选项中根据任务提示，进行筛选。</div>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/2-1.png"></ol>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/2-2.png"></ol>
							</div>
						</li>
					</ul>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse"><a class="mui-navigate-right" href="#">3.如何收藏宝贝.收藏店铺.加购物车</a>
							<div class="mui-collapse-content">
								<div class="content_matter">答：找到和任务相符合的商品，打开详情页后，浏览商品两分钟，并收藏商品或店铺、加购物车，然后回到首页，收藏物品点击我的淘宝，点击进入收藏的宝贝/店铺截图即可，加购物品在首页下方点击购物车进入截图即可。</div>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/3-1.png"></ol>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/3-2.png"></ol>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/3-3.png"></ol>
							</div>
						</li>
					</ul>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse"><a class="mui-navigate-right" href="#">4.如何领取优惠劵</a>
							<div class="mui-collapse-content">
								<div class="content_matter">答：根据提示找到商品后，进入店铺，在首页中点击任意G额的优惠券领取，再返回 <个人中心>，点击<我的卡卷包>进入页面后选择<网店优惠券>，截图即可。</div>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/4-1.png"></ol>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/4-2.png"></ol>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/4-3.png"></ol>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/4-4.png"></ol>
								
							</div>
						</li>
					</ul>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse"><a class="mui-navigate-right" href="#">5.如何进入评价页</a>
							<div class="mui-collapse-content">
								<div class="content_matter">答：打开商品详情页，页面向下拉一点，点击页面中<评价>，进入商品评价页，浏览到评价中部截图即可。</div>
								<ol class="mui-table-view-cell mui-collapse"><img src="../img/5-1.png"></ol>
							</div>
						</li>
					</ul>
				</div> 
				
				
				
				<ul class="mui-table-view">
				 	<li class="mui-table-view-cell mui-li-color">任务截图教程详解</li>
				</ul>
				<!--
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">欢迎各位童鞋加入到淘元宝赚零花钱项目，只要你有手机会淘宝，都可以轻松赚取零花钱哦，现在由小编带领大家快速了解做任务的历程，请所有小伙伴仔细阅读，否则做错了是没有佣金的哦：</li>
				</ul>-->
				<!--折叠面板2-->
				<div class="mui-card" id="ajax-content2">
		        	
		        </div>
				<!--折叠面板3-->
				
		        <div class="mui-card" >
		        	<ul class="mui-table-view">
					 	<li class="mui-table-view-cell">4.然后打开淘宝APP根据任务提示截图。</li>
					</ul>
					<ul class="mui-table-view" >
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">一．浏览商品两分钟</a>
							
							<ul class="mui-table-view">
							 	<li class="mui-table-view-cell mui-li-color">这个任务有两张图，一张为关键字截图，另一张为浏览至商品底部截图</li>
							</ul>
							<div class="mui-collapse-content">
								<!--折叠面板3-->
								<div class="content_matter" id="ajax-content3">
									
								</div>
								
							</div>
						</li>
					</ul>
				</div> 
				<!--折叠面板4-->
				<div class="mui-card" id="ajax-content4">
		        	
		        </div>
		        <!--折叠面板5-->
				<div class="mui-card" id="ajax-content5">
		        	
		        </div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript">
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		
		
		//问答
        var inform=[
                    {
                        "title": "1.如何找到商品",
                        "content":"答：打开手机淘宝APP，在页面顶部搜索任务提供的关键词。",
                        "img":["../img/1.png"]
                    },
                    {
                        "title": "2.如何筛选",
                        "content":"答：根据任务提示，搜索关键词后在打开的页面中点击<筛选>，在下拉选项中根据任务提示，进行筛选。",
                        "img":[
                        	"../img/2-1.png",
                        	"../img/2-2.png"
                        ]
                    },
                    {
                        "title": "3.如何收藏宝贝.收藏店铺.加购物车",
                        "content":"答：找到和任务相符合的商品，打开详情页后，浏览商品两分钟，并收藏商品或店铺、加购物车，然后回到首页，收藏物品点击我的淘宝，点击进入收藏的宝贝/店铺截图即可，加购物品在首页下方点击购物车进入截图即可。",
						"img":[
							"../img/3-1.png",
                            "../img/3-2.png",
                            "../img/3-3.png"
						]
                    },
                    {
                        "title": "4.如何领取优惠劵",
                        "content":"答：根据提示找到商品后，进入店铺，在首页中点击任意G额的优惠券领取，再返回 <个人中心>，点击<我的卡卷包>进入页面后选择<网店优惠券>，截图即可。",
                        "img":[
                        	"../img/4-1.png",
                            "../img/4-2.png",
                            "../img/4-3.png",
                            "../img/4-4.png"
                        ]
                    },
                    {
                        "title": "5.如何进入评价页",
                        "content":"答：打开商品详情页，页面向下拉一点，点击页面中<评价>，进入商品评价页，浏览到评价中部截图即可。",
                        "img":"../img/5-1.png"
                    },
                    {
                        "title": "1.进入首页，在下方找到浏览任务和直通车任务",
                        "img":"../img/6-1.png"
                    },
                    {
                        "title": "2.点击进入，在任务列表里面点击任务量",
                        "img":"../img/7-1.png"
                    },
                    {
                        "title": "3.首先接取商家任务，确认图片、关键词以及店铺名。",
                        "img":"../img/8-1.png"
                    },
                    {
                        "title": "1.关键字截图",
                        "content":"打开手机淘宝APP，在页面顶部搜索任务给出的关键词，找到商品后，点击商家店铺右下角三个点商家掌柜旺旺号保证商家店铺和关键词搜索在同一界面并截图，如未截图完成，不予通过。PS：直通车任务在商家店铺左上角带有HOT标志，没有则为普通搜索任务。找店小技巧：通过筛选设定价格，精准定位。",
                        "img":"../img/9-1.png"
                    },
                    {
                        "title": "2.浏览底部截图",
                        "content":"点击页面进入店铺，拖动页面，浏览商品详情页底部“看了又看”之后截图即可，并停留2分钟以上，若停留时间太短，则任务将审核不通过。小技巧：看是否停留2分钟，根据进店截图和此张截图时间差。(切记：先浏览两分钟之后再收藏加购)",
                        "img":"../img/10-1.png"
                    },
                    {
                        "title": "3．我的淘宝截图",
                        "content":"返回首页，点击我的淘宝，进入我的淘宝页面截图",
                        "img":"../img/11-1.png"
                    },
                    {
                        "title": "二．收藏商品",
                        "content":"找到和任务相符合的商品，打开详情页后，在浏览页底部点击<收藏>按钮，再返回首页，在首页底部点击<我的淘宝>，点击页面中部<收藏宝贝>进入并截图。",
                        "img":"../img/12-1.png"
                    },
                    {
                        "title": "三．关注店铺",
                        "content":"找到和任务相符合的商品，打开详情页后，在浏览页底部点击<店铺>按钮，再返回首页，在首页底部点击<我的淘宝>，点击页面中部<关注店铺>进入并截图。",
                        "img":"../img/13-1.png"
                    },
                    {
                        "title": "四．加入购物车",
                        "content":"找到和任务相符合的商品，打开详情页后，在浏览页底部点击<加入购物车>按钮，再返回首页，在首页底部点击<购物车>，进入并截图。",
                        "img":"../img/14-1.png"
                    },
                    {
                        "title": "五．进入宝贝评价页",
                        "content":"找到和任务相符合的商品，打开商品详情页，页面向下拉一点，点击页面中<评价>，进入商品评价页，浏览到评价中部截图即可。",
                        "img":"../img/15-1.png"
                    },
                    {
                        "title": "六.领取优惠卷",
                        "content":"根据提示找到商品后，进入店铺，在首页中点击任意金额的优惠券领取，再返回 <个人中心>，点击<我的卡卷包>进入页面后选择<网店优惠券>，截图即可。",
                        "img":"../img/16-1.png"
                    },
                    {
                        "title": "3.每单任务可以获得多少佣金？",
                        "content":"答：每单任务可获得的佣金是不同的，在接手任务时可查看每个任务可获得的佣金"
                    },
                    {
                        "title": "4.任务不想做了，怎么放弃？",
                        "content":"答：任务领取后，可在任务详情右上方找到取消任务按键"
                    },
                    {
                        "title": "5.找不到商品可以直接搜索店铺后再搜索商品吗？",
                        "content":"答：不可以的哦，要根据商家提供的关键词和搜索条件找到商品进行操作的哦"
                    },
                    {
                        "title": "6.我的任务已经完成提交了，多久可以审核？",
                        "content":"答：任务提交后，商家会在24小时内审核完成，若24小时内商家未审核，系统会自动审核通过。"
                    },
                    {
                        "title": "7.任务已经提交审核通过了，什么时候可以获得佣金？",
                        "content":"答：任务佣金会在任务审核通过1天后发放到买手的账号内，若任务中包含收藏加购任务，请务必保证宝贝存在购物车及收藏夹7天；一旦发现违规情况，平台将不发放佣金，并根据情节严重情况扣除1-10G币或永久封号的处罚"
                    },
                    {
                        "title": "8.任务提交后，可以在哪里查看到任务？",
                        "content":"答：提交审核或审核通过的任务，可在淘元宝首页-任务管理内查看"
                    },
                    {
                        "title": "9.商家会不会乱审核我们买手的任务呢？",
                        "content":"答：针对商家审核不通过的任务，我们会进行复审核实情况，确保商家不会胡乱审核买手任务。"
                    }
                    
              ]
          var informArr1="";
          var informArr2="";
          var informArr3="";
          var informArr4="";
          var informArr5="";
         
          
          //1
//        for(var i=0;i<5;i++){
//          var informStr="<ul class=\"mui-table-view\" >"+
//								"<li class=\"mui-table-view-cell mui-collapse\">"+
//								"<a class=\"mui-navigate-right\" href=\"#\">"+inform[i].title+"</a>"+
//								"<div class=\"mui-collapse-content\">"+
//								"<div class=\"content_matter\">"+
//								inform[i].content+
//								"</div>"+
//
//								
////								for(var j=0;j<inform[i].img.length;j++){
////									var img+="<ol class=\"mui-table-view-cell mui-collapse\">"+
////									"<img src=\""+inform[i].img[j]+"\"/>"+
////									"</ol>"+
////								}
//								"<ol class=\"mui-table-view-cell mui-collapse\">"+
//									"<img src=\""+inform[i].img+"\"/>"+
//								"</ol>"+
//								"</div>"+
//								"</li>"+
//							"</ul>"
//          informArr1+=informStr;
//        }
          //2
          for(var i=5;i<8;i++){
            var informStr="<ul class=\"mui-table-view\" >"+
								"<li class=\"mui-table-view-cell mui-collapse\">"+
								"<a class=\"mui-navigate-right\" href=\"#\">"+inform[i].title+"</a>"+
								"<div class=\"mui-collapse-content\">"+
								"<ol class=\"mui-table-view-cell mui-collapse\">"+
								"<img src=\""+inform[i].img+"\"/>"+
								"</ol>"+
								"</div>"+
								"</li>"+
							"</ul>"
            informArr2+=informStr;
          }
          //3
          for(var i=8;i<11;i++){
            var informStr="<ul class=\"mui-table-view\">"+
							"<li class=\"mui-table-view-cell mui-collapse\">"+
							"<a class=\"\" href=\"#\">"+inform[i].title+"</a>"+
							"<div class=\"mui-collapse-content\">"+
							"<div class=\"content_matter\">"+
								inform[i].content+
								"</div>"+
							"<ol class=\"mui-table-view-cell mui-collapse\">"+
								"<img src=\""+inform[i].img+"\"/>"+
							"</ol>"+
							"</div>"+
							"</li>"+
						"</ul>"
            informArr3+=informStr;
          }
          //4
           for(var i=11;i<16;i++){
            var informStr="<ul class=\"mui-table-view\" >"+
								"<li class=\"mui-table-view-cell mui-collapse\">"+
								"<a class=\"mui-navigate-right\" href=\"#\">"+inform[i].title+"</a>"+
								"<div class=\"mui-collapse-content\">"+
								"<div class=\"content_matter\">"+
								inform[i].content+
								"</div>"+
								"<ol class=\"mui-table-view-cell mui-collapse\">"+
								"<img src=\""+inform[i].img+"\"/>"+
								"</ol>"+
								"</div>"+
								"</li>"+
							"</ul>"
            informArr4+=informStr;
          }
             //5
           for(var i=16;i<inform.length;i++){
            var informStr="<ul class=\"mui-table-view\" >"+
								"<li class=\"mui-table-view-cell mui-collapse\">"+
								"<a class=\"mui-navigate-right\" href=\"#\">"+inform[i].title+"</a>"+
								"<div class=\"mui-collapse-content\">"+
								"<div class=\"content_matter\">"+
								inform[i].content+
								"</div>"+
								"</div>"+
								"</li>"+
							"</ul>"
            informArr5+=informStr;
          }
          //console.log(informArr);
          //document.getElementById("ajax-content1").innerHTML=informArr1;
          document.getElementById("ajax-content2").innerHTML=informArr2;
          document.getElementById("ajax-content3").innerHTML=informArr3;
          document.getElementById("ajax-content4").innerHTML=informArr4;
          document.getElementById("ajax-content5").innerHTML=informArr5;
          </script>
       
</html>
