<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
		<title>浏览任务</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../css/img.css" />
		<style type="text/css">
			.mui-btn{padding: 2px 5px;font-size: 14px;float: right;background: #FF5252;color: white;margin-top: -1px;border: 1px solid #FF5252;}
			.a{line-height: 30px;}
			.mui-table-view .mui-media-object{max-width: 70px;height: 70px;}
			.mui-table-view{margin: 6px 4px;border-radius: 5px; position: relative;}
			.mui-table-view:before{height: 0px;}
			.bg{border-radius: 5px;position: absolute;top: 0;right: 0px;left: 0px;bottom: 0; background: rgba(76,76,76,0.7);z-index: 99;text-align: center;}
			.bg span{color: white;margin-top:2.2em ;display: inline-block;}
			p{color: #000000;}
			.renwu_yaoqiu{ font-size: 0.7em; }
			.mui-ellipsis{width: 95%;} 
			
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">浏览任务</h1>
		</header>
		<div class="mui-content">
			<div id="liulanliebiao" >
				<ul class="mui-table-view jiaji">
				    <li class="mui-table-view-cell mui-media">
				        <a href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="../public/img/4.png">
				            <div class="mui-media-body">
					            <p>任务ID：865115996 <button type="button" class="mui-btn">加急任务</button></p>
				                <p class="mui-ellipsis a">任务要求：店铺收藏</p>
				                <p>佣金： <span style="color: #FF5252;">¥0.4</span></p>
				            </div>
				        </a>
				    </li>
				</ul>    
				<ul class="mui-table-view jiaji">
				    <li class="mui-table-view-cell mui-media">
				        <a href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="../public/img/16.png">
				            <div class="mui-media-body">
					            <p>任务ID：865115996 <button type="button" class="mui-btn">加急任务</button></p>
				                <p class="mui-ellipsis a">任务要求：店铺收藏</p>
				                <p>佣金： <span style="color: #FF5252;">¥0.4</span></p>
				            </div>
				        </a>
				    </li>
				</ul>
				<ul class="mui-table-view jiaji">
				    <li class="mui-table-view-cell mui-media">
				        <a href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="../public/img/11.png">
				            <div class="mui-media-body">
					            <p>任务ID：865115996 <button type="button" class="mui-btn">加急任务</button></p>
				                <p class="mui-ellipsis a">任务要求：店铺收藏</p>
				                <p>佣金： <span style="color: #FF5252;">¥0.4</span></p>
				            </div>
				        </a>
				    </li>
				</ul> 
				<ul class="mui-table-view">
				   <li class="mui-table-view-cell mui-media">
				        <a href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="../public/img/14.png">
				            <div class="mui-media-body">
					            <p>任务ID：8651159961 <button type="button" class="mui-btn">接受任务</button></p>
				                <p class="mui-ellipsis a">任务要求：店铺收藏</p>
				                <p>佣金： <span style="color: #FF5252;">¥0.4</span></p>
				            </div>
				        </a>
				    </li>
			
				</ul>
				
				<ul class="mui-table-view">
				    <li class="mui-table-view-cell mui-media">
				        <a href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="../public/img/5.jpg">
				            <div class="mui-media-body">
					            <p>任务ID：865115996 <button type="button" class="mui-btn">接受任务</button></p>
				                <p class="mui-ellipsis a">任务要求：<span>店铺收藏店铺收藏店铺收藏店铺收藏店铺收藏</span></p>
				                <p>佣金： <span style="color: #FF5252;">¥0.4</span></p>
				            </div>
				        </a>
				    </li>
				    
				</ul>
				<ul class="mui-table-view">
				    <li class="mui-table-view-cell mui-media">
				        <a href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="../public/img/6.png">
				            <div class="mui-media-body">
					            <p>任务ID：865115996 <button type="button" class="mui-btn">接受任务</button></p>
				                <p class="mui-ellipsis a">任务要求：店铺收藏</p>
				                <p>佣金： <span style="color: #FF5252;">¥0.4</span></p>
				            </div>
				        </a>
				    </li>
				    
				</ul>
				
				<ul class="mui-table-view kong">
				    <li class="mui-table-view-cell mui-media">
				        <a href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="../public/img/15.png">
				            <div class="mui-media-body">
					            <p>任务ID：865115996 <button type="button" class="mui-btn">接受任务</button></p>
				                <p class="mui-ellipsis a">任务要求：店铺收藏</p>
				                <p>佣金： <span style="color: #FF5252;">¥0.4</span></p>
				            </div>
				        </a>
				    </li>
				</ul>
				<ul class="mui-table-view bj">
					<li class="mui-table-view-cell mui-text-center">
						<span>2016-09-30 17:30</span>
					</li>
				</ul>
				<ul class="mui-table-view kong"> 
				    <li class="mui-table-view-cell mui-media">
				        <a href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="../public/img/14.png">
				            <div class="mui-media-body">
					            <p>任务ID：865115996 <button type="button" class="mui-btn">接受任务</button></p>
				                <p class="mui-ellipsis a">任务要求：店铺收藏</p>
				                <p>佣金： <span style="color: #FF5252;">¥0.4</span></p>
				            </div>
				        </a>
				    </li>
				</ul>
			</div>
		</div>
		
		<!--加急任务弹窗-->
		<div class="jiaji-box mui-popup mui-popup-in" style="display: none;">
			<div class="mui-content-padded">
				<p>
					<img src="http://www.jq22.com/demo/jQueryWaterfallFlow20160830/img/02.jpg" data-preview-src="" data-preview-group="1" />
				</p>
			</div>
			<div class="kong">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						关键词： 
					    <input id="sousuo_guanj" type="text" value="淘元宝1" style="width: 30%;margin: 0;padding: 3px 0 !important;height: auto;border: none;" readonly="readonly">
					    <button type="button" class="mui-btn toastBtn" id="toastBtn" data-clipboard-target="#sousuo_guanj"><p id="anniu" style="color:#fff;">复制关键词</p></button>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						店铺名：<span id="paixufangshi">店铺名</span>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<p>温馨提示：</p>
						<p>1.余额大于2元才能领取任务</p>
						<p>2.任务超过20分钟未完成或取消罚款扣除5元</p>
						<p>3.通过关键词找到商品再领取任务</p>
						<p>4.如出现任务非正常情况无法完成请联系客服</p>
					</li>
				</ul>
			</div>
			<div class="mui-popup-buttons">
				<span index="0" value="0">领取任务</span>
				<span index="1" value='1'>取消</span>
			</div>
		</div>
		<div class="mui-popup-backdrop mui-active" style="display: none;"></div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../js/public.js" ></script>
	<script type="text/javascript" src="../js/app/home-liulan.js" ></script>
	<!--图片预览-->
	<script src="../js/mui.zoom.js"></script>
	<script src="../js/mui.previewimage.js"></script>
	<script>
		mui.previewImage();
	</script>
	<!--复制粘贴-->
	<script src="../js/clipboard.min.js"></script>
    <script>
    	mui.init({ 
			  swipeBack:true, //启用右滑关闭功能
			  preloadPages:[{  
				   'url': 'taobao.html',  
		           'id': 'taobao.html'              
			  }]  
		}); 
    	var clipboard = new Clipboard('.toastBtn');
    	clipboard.on('success', function(e) {
	        //console.log(1);
	        mui.toast('已复制成功，是否跳转到淘宝APP');
	    });

	    clipboard.on('error', function(e) {
	        //console.log(2);
	        mui.toast('复制失败请长按复制关键词');
	    });
    </script>

	<script>
//		$(".mui-media").click(function(){
//			openNewPage('home-liulan-ing.html'); 
//		}) 
//		$(".bj").click(function(){
//			openNewPage('home-liulan-ing.html');
//		}) 
	</script>
</html>
