<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="../js/jquery-2.1.4.min.js"></script>
		
		<script>
$(function(){
//	$('#tiyan11').on('click',function(){
//		alert(23);
//
//	});
//	

//alert(457);
	$("#tiyan12").click(function(){
		alert(23);
	});

})
	
	</script>	
	</head>
	
	<div id="tiyan12">dsddsdssdsd</div>
	</html>